.stock-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;

  img {
    height: 40%;
  }
  .stock-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
    padding: 10px;
    .prices {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
  button {
    cursor: pointer;
    background-color: #fefe00;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 18px;
  }
  button:hover {
    background-color: #e48625;
  }
  p {
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
  .desc {
    line-height: 32px;
    font-style: 24px;
    font-weight: 400;
  }
}
