<div class="container">
    <h3>Enter details to register</h3>
    <form #regForm="ngForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input name="username"
                [(ngModel)]="user.username"
                type="text"
                placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input name="password"
                [(ngModel)]="user.password"
                type="password"
                placeholder="Password">
        </div>
        <!-- <div class="form-group">
            <label for="re-password">Password:</label>
            <input name="re-password"
                ngModel
                type="password"
                placeholder="Repeat password">
        </div> -->
        <button (click)="register(regForm)">Register</button>
    </form>

</div>