<div class="container">

    <h1 style="text-align: center">Enter data to edit stock
        information
    </h1>

    <form #editForm="ngForm">

        <div class="form-group">
            <label for="stock-name">Enter name:</label>
            <input type="text"
                name="name"
                ngModel
                minlength="1"
                maxlength="25"
                placeholder="Enter name"
                [(ngModel)]="stock && stock.name"
                #nameInput="ngModel">

            <div class="erorr"
                *ngIf="nameInput.touched && !nameInput.valid">
                Invalid stock name!
            </div>
        </div>

        <div class="form-group">
            <label for="stock-price">Enter price:</label>
            <input type="number"
                name="price"
                ngModel
                minlength="1"
                maxlength="5"
                placeholder="Price"
                [(ngModel)]="stock && stock.price"
                #priceInput="ngModel">

            <div class="erorr"
                *ngIf="priceInput.touched && !priceInput.valid">
                Invalid price!
            </div>
        </div>

        <div class="form-group">
            <label for="stock-exchange">Enter exchange name:</label>
            <input type="text"
                name="exchange"
                ngModel
                minlength="3"
                maxlength="25"
                placeholder="Exchange"
                [(ngModel)]="stock && stock.exchange"
                #exchangeInput="ngModel">

            <div class="erorr"
                *ngIf="exchangeInput.touched &&!exchangeInput.valid">
                Invalid exchange name!
            </div>
        </div>

        <div class="form-group">
            <label for="stock-favorite">Choose favorite</label>
            <input type="checkbox"
                name="favorite"
                ngModel
                [(ngModel)]="stock && stock.favorite"
                #favoriteInput="ngModel">
        </div>


        <button (click)="editStock()"
            [disabled]="editForm.invalid">Send</button>
    </form>
</div>